@font-face {
  font-family: "pixel";
  src: url("fonts/pixel_digivolve-webfont.woff2") format("woff2"),
    url("fonts/pixel_digivolve-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* set variables under root to reuse */
:root {
  --color-headings: #7fea59;
  --color-body: #fff;
  --color-border: #dc0d0d;
}

/* Typography */

html {
  font-size: 62.5%;
}
/* TODO: Remember to remove the 26th line ie the bg of body(its only for testing purpose */
body {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 2.08rem;
  line-height: 1.5;
  color: var(--color-body);
  background: #fff;
}

h1,
h2,
h3 {
  margin-bottom: 3.5rem;
  line-height: 1.1;
}

h1 {
  font-family: "pixel", Arial, Helvetica, sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: "pixel", Arial, Helvetica, sans-serif;
  font-size: 4.2rem;
}

h3 {
  font-size: 2.8rem;
}

.gradient-headings {
  background: #ff3400;
  background: linear-gradient(
    270deg,
    #8800ff 0%,
    #7c00e8 0.01%,
    #bc008f 52.48%,
    #ff3400 100%
  );
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

p {
  margin-top: 0;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn--opensea {
  width: 43.5rem;
  height: 18rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/opensea_button.gif);
  transition: transform 0.2s ease-out;
}

.btn--opensea:hover {
  transform: scale(1.05);
}

/*ellipse component*/
.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #ff3602 -21.78%, #fcdf7d 115.84%);
  width: 173px;
  height: 170px;
  border-radius: 100%;
  filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.3));
}

.ellipse__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 157px;
  height: 153px;
  border-radius: 100%;
}

/* socials */
.socials {
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.socials__icon-small {
  margin: 0 16px 0 16px;
  transition: transform 0.2s ease-in;
}

.socials__icon-small:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* blocks */
/* container */
.container {
  max-width: 1160px;
  margin: 0 auto;
}
/* nav-bar */
.nav {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  width: auto;
  list-style: none;
  display: flex;
  max-height: 100%;
}

.nav__list > li {
  padding: 0 1.5rem;
  font-size: 1.92rem;
  color: #d8d8d8;
  transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
}

.nav__list > li:hover {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(233, 115, 18, 1);
}

.nav__logo {
  transform: translateX(11px) translateY(4px);
}

/* dev-card */
.dev-card {
  width: 418px;
  height: 510px;
  box-sizing: border-box;
}

.ellipse--card {
  position: absolute;
  left: 100px;
  top: 51px;
}

.dev-info__dev-name {
  position: absolute;
  left: 73px;
  top: 217px;
  color: var(--color-body);
}

.dev-info__dev-bio {
  position: absolute;
  color: var(--color-body);
  top: 308px;
  left: 30px;
  width: 330px;
  height: fit-content;
  text-align: center;
  box-sizing: border-box;
}

/* Footer */
.footer {
  height: fit-content;
  background: rgba(38, 38, 38, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* EmailBox */
.footer__emailbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 4px 0px 3px 22px;
}

.footer__emailbox__label {
  width: 247px;
  height: 30px;
}

.footer__emailbox__input {
  width: 227px;
  height: 39px;
  border-radius: 50px;
  border: 2px solid black;
}

.footer__emailbox__input::placeholder {
  position: relative;
  left: 30.11px;
}

.footer__emailbox__submit {
  width: 89px;
  height: 33px;
  border-radius: 11px;
  align-self: flex-end;
  background-color: #636363;
  color: #fff;
  font-size: 19.2px;
  text-align: center;
  letter-spacing: -0.02em;
  cursor: pointer;
}
/* Socials-Footer */
.socials--footer__icon-small--nohover:hover {
  cursor: pointer;
  transform: none;
}

#soc1,
#soc2,
#soc3 {
  border-right: 3px solid white;
  padding-right: 20px;
}

#soc3,
#soc4 {
  height: 44px;
}
/* All Rights */
.footer__allrights > img {
  height: 200px;
}

.footer__allrights {
  display: flex;
  flex-direction: column;
  margin: 22px 18px 22px 13px;
  align-content: center;
  justify-content: center;
}

.footer__allrights__text {
  text-align: center;
  position: relative;
  bottom: 30px;
}

/* GIF CARDS */

.gifcard {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
  padding: 9px;
}

.gifcard__gif {
  display: block;
  height: 376px;
  width: 376px;
}

.gifcard__logo {
  display: block;
  width: 408px;
  margin-top: 6px;
  position: relative;
  top: 10px;
}

.gifcard__button > img{
  display: block;
  width: 70%;
  margin: auto;
  position: relative;
  top: 50px;

}

.gifcard__button > h2{
  text-align: center;
  font-size: 2.2rem;
  position: relative;
  bottom: 45px;
}

.gifcard__button{
  transition: transform 0.2s ease-out;
}

.gifcard__button:hover {
  transform: scale(1.15);
}