<section class="block--grad-down devteam">
  <div class="container-main">
    <h2 class="devteam__title">Dev Team</h2>
    <div class="devteam__devs">
      <div class="dev-card">
        <div class="ellipse ellipse--card">
          <div class="ellipse__image">
            <img src="images/gautham.png" alt="image of a person" />
          </div>
        </div>
        <h3 class="dev-info__dev-name">Gautham Krishna</h3>
        <div class="dev-info__dev-bio">
          I think NFT’s are cool and making them is even cooler. Love web-dev
          and design. Blockchain enthus.
          <a class="git" href="https://github.com/gauthking"
            ><img class="git__image" src="images/github.png" alt=""
          /></a>
        </div>
      </div>
      <div class="dev-card">
        <div class="ellipse ellipse--card">
          <div class="ellipse__image">
            <img src="images/thejas.png" alt="image of a person" />
          </div>
        </div>
        <h3 class="dev-info__dev-name">Thejas Sanjeev</h3>
        <div class="dev-info__dev-bio">
          NFTs,Crypto,web-dev,coding....Yup that's me and my passion.
          <a class="git" href="https://github.com/JazzBlaze"
            ><img class="git__image" src="images/github.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
