<footer class="footer">
  <div class="footer__emailbox">
    <label for="emailinfo" class="footer__emailbox__label"
      >GET ON OUR LIST</label
    >
    <input
      type="email"
      class="footer__emailbox__input"
      name="emailinfo"
      placeholder="Email"
    />

    <button class="footer__emailbox__submit">Submit</button>
  </div>

  <ul class="socials socials--footer">
    <li>
      <img
        class="socials__icon-small socials__icon-small--nohover"
        id="soc1"
        src="images/discord.svg"
        alt=""
      />
    </li>
    <li>
      <img
        class="socials__icon-small socials__icon-small--nohover"
        id="soc2"
        src="images/twitter.svg"
        alt=""
      />
    </li>
    <li>
      <img
        class="socials__icon-small socials__icon-small--nohover"
        id="soc3"
        src="images/telegram.svg"
        alt=""
      />
    </li>
    <li>
      <img
        class="socials__icon-small socials__icon-small--nohover"
        id="soc4"
        src="images/instagram.svg"
        alt=""
      />
    </li>
  </ul>

  <div class="footer__allrights">
    <img src="images/website-logo.png" alt="logohere" />

    <div class="footer__allrights__text">
      © VECTORMALS. <br />
      2021, ALL RIGHTS <br />
      RESERVED
    </div>
  </div>
</footer>