<section class="block block--dark hero">
  <div class="container-main grid grid--1x2">
    <header>
      <h1 class="gradient-headings hero__header">CRYPTO KRAKEN</h1>
      <p>
        An ecosystem,a community, a service...we are everything and anything an
        NFT enthusiast needs.
      </p>
      <p>
        We, Crypto Kraken aims to be the breeding ground for worlds craziest NFT
        projects.
      </p>
      <p class="hero__quote">Come join us & lets build the future!</p>
      <a class="btn btn--opensea" href="#">
        <h2>Buy on opensea</h2>
      </a>
      <p class="gradient-headings socials__header">Connect with us</p>
      <ul class="socials">
        <li>
          <img
            class="socials__icon-small"
            src="images/discord-gradient.svg"
            alt=""
          />
        </li>
        <li>
          <img
            class="socials__icon-small"
            src="images/twitter-gradient.svg"
            alt=""
          />
        </li>
        <li>
          <img
            class="socials__icon-small"
            src="images/telegram-gradient.svg"
            alt=""
          />
        </li>
        <li>
          <img
            class="socials__icon-small"
            src="images/instagram-gradient.svg"
            alt=""
          />
        </li>
      </ul>
    </header>
    <picture class="hero__image">
      <img src="images/hero-logo.png" alt="image of a kraken" />
    </picture>
  </div>
</section>
