<section class="block--dark projsection">
  <h2 class="projsection__title">OUR NFTs</h2>
  <div class="projsection__projects">
    <div class="gifcard">
      <img src="images/pup-border.gif" alt="gif" class="gifcard__gif" />
      <img src="images/micro.png" alt="logo" class="gifcard__logo" />
      <div class="gifcard__pagebutton"></div>
      <a class="gifcard__button" href="">
        <img src="images/opensea_button.gif" alt="" />
        <h2>VISIT NFT PAGE</h2>
      </a>
    </div>

    <div class="gifcard">
      <img src="images/pup-border.gif" alt="gif" class="gifcard__gif" />
      <img
        src="images/BOBBLEMUTANTSlogo.png"
        alt="logo"
        class="gifcard__logo"
      />
      <div class="gifcard__pagebutton"></div>
      <a class="gifcard__button" href="">
        <img src="images/opensea_button.gif" alt="" />
        <h2>VISIT NFT PAGE</h2>
      </a>
    </div>

    <div class="gifcard">
      <img src="images/poly-border.gif" alt="gif" class="gifcard__gif" />
      <img
        src="images/polymonkeyslogo.png"
        alt="logo"
        class="gifcard__logo gifcard__logo--poly"
      />
      <div class="gifcard__pagebutton"></div>
      <a class="gifcard__button" href="">
        <img src="images/opensea_button.gif" alt="" />
        <h2>VISIT NFT PAGE</h2>
      </a>
    </div>
  </div>
</section>

